<div class="container"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" 
	fxLayoutGap.xs="0">

	<div fxFlex="40">
		<md-card *ngIf="dish">
			<md-card-header>
				<md-card-title>
					<h3>{{ dish.name | uppercase }}</h3>
				</md-card-title>
			</md-card-header>
			
			<img md-card-image src={{dish.image}} alt={{dish.name}}>
			
			<md-card-content>
				<p>{{ dish.description }}</p>
			</md-card-content>
			<md-card-actions>
				<button md-button [routerLink]="['/dishdetail', prev]">
					<span class="fa fa-chevron-left fa-lg"></span>
				</button>
				<button md-button (click)="goBack()">BACK</button>
				<button md-button>LIKE</button>
				<button md-button>SHARE</button>
				<span class="flex-spacer"></span>
				<button md-button [routerLink]="['/dishdetail', next]">
					<span class="fa fa-chevron-right fa-lg"></span>
				</button>
			</md-card-actions>
		</md-card>
	
		<div [hidden]="dish">
			<md-spinner></md-spinner><h4>Loading ... Please Wait</h4>
		</div>
	</div>

	<div fxFlex="40">
		
		<md-list *ngIf="dish">
			<h2 md-line>Comments</h2>
			<md-list-item *ngFor="let c of dish.comments">
				<p md-line>{{c.comment}}</p>
				<p md-line>{{c.rating}} Stars</p>
				<p md-line>--{{ c.author }} {{ c.date | date }}</p>
			</md-list-item>
		</md-list>

		<md-list *ngIf="(commentForm.dirty && commentForm.valid)">
			<md-list-item>
				<p md-line>{{commentForm.value.comment}}</p>
				<p md-line>{{commentForm.value.rating}} Stars</p>
				<p md-line>--{{commentForm.value.author}}</p>
			</md-list-item>
		</md-list>

		<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" *ngIf="dish">
			<p>
				<md-input-container dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
					<input mdInput formControlName="author" placeholder="Name" type="text" required>
					<md-hint [hidden]="!(formErrors.author)">
						{{ formErrors.author }}
					</md-hint>
				</md-input-container>
			</p>

			<p>
				<md-slider formControlName="rating" thumbLabel tickInterval="1"
				min="1" max="5"></md-slider>
			</p>

			<p>
				<md-input-container>
					<textarea mdInput formControlName="comment" placeholder="Your Comment" rows="3" required></textarea>
				</md-input-container>
				<md-hint [hidden]="!(formErrors.comment)">
					{{ formErrors.comment }}
				</md-hint>
			</p>
			<button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>			
		</form>
	
		<div [hidden]="dish">
			<md-spinner></md-spinner><h4>Loading ... Please Wait</h4>
		</div>
	</div>

</div>
